
@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #8c00ff 1%, #000000 100%);
}
/* ВОТ ТАК МОЖНО ИЗМЕНИТЬ ШРИФТ У ВСЕГО САЙТА НАХУЙ БЛЯТЬ  */
/* ВОТ САЙТ С КОТОРОЙ Я ВЗЯЛ УРЛ БЛЯТЬ https://developers.google.com/fonts/docs/getting_started?hl=ru  */
/* В ДИВЕ "ИСПОЛЬЗОВАТЬ ШРИФТ-ДИСПЛЕЙ"  */


.nav-link {
    color: rgb(148, 154, 152);
}

.navbar-nav .nav-link.active { 
color: aquamarine;
}

/* Почему мы не добавляем веса для nav link?  */
/* время для решения вопроса в видосе 5:10  */

.navbar-brand>img {
width: 80px;
}

.navbar-toggler {
    background-color: rgb(148, 154, 152) ;
}

.side {
    color: aquamarine;
    background: linear-gradient(270deg, #8c00ff 1%, #000000 100%);

}

.card {
    background: linear-gradient(270deg, #8c00ff 1%, #000000 100%);
 color: aquamarine;
 margin-top: 8px;
}

.side-text,
.foot-text {
    margin: auto auto;
    /* Отцентровать по вертикали и горизонтали */
    color: aquamarine;
}

@media (max-width:768px) {
 .carousel-indicators{
    display: none;
 }
}

.info-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer, .btnSeeMore {
    background: linear-gradient(270deg, #8c00ff 1%, #000000 100%);
margin-top: 3em;
}

p {
    color: aquamarine;
}

.call-anim {
    animation: myAnim 2s ease 0s 1 normal forwards;


}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

/* webcode.tools>keyframe animation  */